<div class="menu sombreado">
    <ol>
        <ul>
            <mat-icon matSuffix>face</mat-icon>
            <mat-label>View tasks</mat-label>
        </ul>
        <ul>
            <mat-icon matSuffix>face</mat-icon>
            <mat-label>Edit tasks</mat-label>
        </ul>
        <ul>
            <mat-icon matSuffix>face</mat-icon>
            <mat-label>Create task</mat-label>
        </ul>
        <hr/>
        <ul>
            <mat-icon matSuffix>face</mat-icon>
            <mat-label>View tasks</mat-label>
        </ul>
        <ul>
            <mat-icon matSuffix>face</mat-icon>
            <mat-label>Edit tasks</mat-label>
        </ul>
        <ul>
            <mat-icon matSuffix>face</mat-icon>
            <mat-label>Create task</mat-label>
        </ul>
    </ol>    

</div>
